* {
    font-family: 'roboto';
    margin: 0;
}

.header, 
.cta {
    background-color: #232323;  
}

.navbar-wrapper, 
.footer {
    background-color: #181818;  
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px 0px;
}

.navbar-wrapper .links a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 20px;
}

.navbar-wrapper button {
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #E5E7EB;
    border-style: solid;
    margin: 0px 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.header .img-wrapper {
    height: 400px;
    width: 500px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}


.header .content {
    max-width: 400px; 
} 


.header .content h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header .content p,
button {
    font-size: 18px;
    color: #E5E7EB;
    padding: 25px 0px;
}

.header .content button {
    background-color: #69369E;
    padding: 15px 38px;
    border-radius: 10px;
    border-style: solid;
    border-color: #F9FAF8;
    font-weight: bold;
}

.information {
    justify-content: center;
    text-align: center;
    background-color: #2f2f2f;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding: 100px
}

.information .showcase {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.information .showcase .box {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    padding: 10px;
}

.information .showcase .box .img-wrapper {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.testimonial {
    display: flex;
    background-color: #69369E;
    padding: 80px;
    justify-content: center;
}

.testimonial .wrapper {
    max-width: 600px;
}

.testimonial .wrapper .quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #F9FAF8;
}

.testimonial .wrapper .author {
    padding-top: 15px;
    text-align: right;
    color: #F9FAF8;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-wrapper {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 50px 100px;
    margin: 100px 0px;
}


.cta-wrapper .text-wrapper h2 {
    margin-bottom: 5px;
} 


.cta-wrapper button {
    background-color: transparent;
    color: #F9FAF8;
    padding: 10px 30px;
    margin-left: 160px;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
}

.footer {
    color: white;
    text-align: center;
    padding: 40px;
}